// @import './hero';
@import './colors';

.card {
  width: 100%;
  border: 1px solid $greyDark;
  border-radius: 7px;
  margin: 10px 0;
  padding: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  p {
    font-size: 16px;
  }

  .card-title {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 12px;
    }
    .card-name {
      margin: 0px 0px 4px 0px;
    }

    .card-pledge {
      margin-left: 0;
      margin-top: 0;
      color: $cyanModerate;
    }
  }
  .card-stock {
    display: flex;
    align-items: center;
    color: $greyDark;
    font-size: 13px;

    span {
      font-size: 30px;
      margin-right: 10px;
      font-weight: 700;
      color: black;
    }
  }

  .cta-reward {
    // @extend .cta-main;
    background-color: $cyanModerate;
    border-radius: 35px;
    outline: none;
    border: none;
    padding: 10px 25px;
    padding-bottom: 14px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    // width: 70%;

    &:hover,
    :active {
      background-color: $cyanDark;
    }
  }

  &.disabled {
    opacity: 0.6;
    .cta-reward {
      background-color: $greyDark;
    }
  }

  .bottom-part {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1440px) {
  .card-title {
    flex-direction: row !important;
    width: 100%;
    justify-content: space-between;

    .card-name {
      font-size: 16px !important;
    }
    .card-pledge {
      text-align: right;
      font-size: 16px !important;
    }
  }

  .bottom-part {
    flex-direction: row !important;
    width: 100%;
    justify-content: space-between;
  }
}
