// primary
$cyanModerate: hsl(176, 50%, 47%);
$cyanDark: hsl(176, 72%, 28%);
// neutral
$black: hsl(0, 0%, 0%);
$greyDark: hsl(0, 0%, 48%);
$bodyBackground: #fafafa;
$grey: #c6c6c6;
$bookmark: #f4f8f9;
