@import './colors';

.mobileMenu {
  position: absolute;
  top: 0px;
  z-index: 99;
  width: 100%;
  height: 100vh;
  // height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;

  .mobileMenuWrapper {
    width: 80%;
    max-width: 1000px;
    // margin: 0 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    margin-top: -734px;
    a {
      display: flex;
      align-items: center;
      background-color: #fff;
      height: 40px;
      width: 90%;
      padding: 30px 0;
      color: black;
      font-weight: 600;
      text-decoration: none;
      border-bottom: 1px solid $grey;
    }
  }
}
